{% trans_default_domain 'FOSUserBundle' %}

<div class="formulaire-triangle"></div>
<h2 class="formulaire-header">{% block formTitle %}Edition du profil{% endblock %}</h2>

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit formulaire-container text-center' } }) }}
<div class="form-group ">
    {{ form_label(form.username) }}
    {{ form_widget(form.username, {'attr':{'placeholder': 'Entrez votre nom', 'class': 'text-center'}}) }}
    {{ form_errors(form.username) }}
</div>
<div class="form-group">
    {{ form_label(form.email) }}
    {{ form_widget(form.email, {'attr':{'placeholder': 'Entrez votre e-mail', 'class': 'text-center'}}) }}
    {{ form_errors(form.email) }}
</div>
<div class="form-group">
    {{ form_label(form.current_password) }}
    {{ form_widget(form.current_password, {'attr':{'placeholder': 'Entrez votre nouveau mot de passe', 'class': 'text-center'}}) }}
    {{ form_errors(form.current_password) }}
</div>
<div>
    <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
</div>
{{ form_end(form) }}
