{% trans_default_domain 'FOSUserBundle' %}


<div class="fos_user_user_show">
    <div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 text-center">
        <h1>Profil</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th class="text-center">{{ 'profile.show.username'|trans }}</th>
                        <th class="text-center">{{ 'profile.show.email'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-success" href={{ path("bird") }}>Retour à l'accueil</a>
        <a class="btn btn-danger" href={{ path("fos_user_change_password") }}>Changement de mot de passe</a>
        <a class="btn btn-danger" href={{ path("fos_user_profile_edit") }}>Changement de mot de passe</a>
    </div>
</div>
