{% extends 'base.html.twig' %}


{% block body %}
    {{ form_start(search) }}
        {{ form_rest(search) }}
    {{ form_end(search) }}
    <div id="app"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/babel" src="{{ asset('js/app.react.js') }}"></script>
{% endblock %}