{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent ()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.8/jquery.fullPage.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFroHBrDo8zJfboSR3r5Z_YWnLv9HEaxw&libraries=geometry,visualization"></script>
{% endblock %}

{% block body %}
        {{ include('carousel.html.twig') }}
        <div class="section container-fluid" data-anchor="Rechercher" id="section1">
            <div class="container">
                <a href="#Accueil"><button class="btn">Retour à l'accueil</button></a>
            </div>
            <div id="birds"></div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.baseUrl = '{{ path('bird') }}';
    </script>
    {% if app.environment == 'dev' %}
        <script src="http://127.0.0.1:3000/static/searchBird.js"></script>
    {% else %}
        <script src="{{ asset('dist/searchBird.js') }}"></script>
    {% endif %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}