{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent ()}}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFroHBrDo8zJfboSR3r5Z_YWnLv9HEaxw&libraries=geometry,visualization"></script>
{% endblock %}

{% block body %}
    <div id="fullpage">
        <!--HOME-->
        <div class="section" data-anchor="firstPage" id="section0">

            <div id="thumbnail-preview-indicators" class="carousel carousel-fade slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">
                        <div class="thumbnail">
                            <img class="img-responsive" alt="oiseauSurBranche" src="{{ asset('pics/blossom.jpg') }}">
                        </div>
                    </li>
                    <li data-target="#thumbnail-preview-indicators" data-slide-to="1">
                        <div class="thumbnail">
                            <img class="img-responsive" alt="volOiseaux" src="{{ asset('pics/cranes.jpg') }}">
                        </div>
                    </li>
                    <li data-target="#thumbnail-preview-indicators" data-slide-to="2">
                        <div class="thumbnail">
                            <img class="img-responsive" alt="paon" src="{{ asset('pics/peacock.jpg') }}">
                        </div>
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item slides active">
                        <div class="slide-1"></div>
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Nos amis les oiseaux</h1>
                                <p>En pleine nature</p>

                            </div>
                        </div>
                    </div>
                    <div class="item slides">
                        <div class="slide-2"></div>
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Nos amis les oiseaux</h1>
                                <p>En pleine nature</p>

                            </div>
                        </div>
                    </div>
                    <div class="item slides">
                        <div class="slide-3"></div>
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Nos amis les oiseaux</h1>
                                <p>En pleine nature</p>

                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <div class="section container-fluid" data-anchor="secondPage" id="section1">
            <div id="birds"></div>
        </div>

</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        {# set a base url to '/' or maybe '/app_dev.php' #}
        window.baseUrl = '{{ path('bird') }}';
    </script>
    {% if app.environment == 'dev' %}
        <script src="http://127.0.0.1:3000/static/searchBird.js"></script>
    {% else %}
        <script src="{{ asset('dist/searchBird.js') }}"></script>
    {% endif %}
{% endblock %}