{% extends 'base.html.twig' %}



{% block title %}Dernières observations - {{ parent() }}{% endblock %}

{% block body %}
<div class=" container-fluid panel panel-default target">
        <div class="panel-body">
            {% for deletion in app.session.flashbag.get('deletion') %}
                <div class="observation col-lg-12 col-xs-offset-5 col-md-12 col-xs-12 col-sm-12">
                    {{ deletion }}
                </div>
            {% endfor %}
            {% for validation in app.session.flashbag.get('validation') %}
                <div class="observation col-lg-12 col-md-12 col-sm-12 col-xs-12  col-xs-offset-5">
                    {{ validation }}
                </div>
            {% endfor %}
            <div class="row">
                {% for bird in birds %}
                    <div class="observation col-lg-4 col-md-4 col-xs-12 col-sm-6">
                        <div class="thumbnail">
                            <img class="borderRadius img-responsive" src="{{ asset('../uploads/images/') ~ '/' ~ bird.image }}">
                        </div>
                        <div class=" champs text-center">
                            <div id="nomObs" >Observateur: {{ bird.member }}</div>
                            <div id="nomOiseau">Nom de l'oiseau : {{ bird.nom.nomVern }}</div>
                        </div>
                        <div class="borderRadius no_padding panel-footer">
                            <div class="date col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                <div id="dateObs">vue le : {{ bird.dateVue|date("d-m-Y") }}</div>
                            </div>
                            <div class="form no_padding col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="formHeight no_padding col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                    <a href="{{ path('delete_last_bird', {'id': bird.id })}}" title="supprimer" class="deleteBtn btn" ><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                                </div>
                                <div class="formHeight no_padding col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <a href="{{ path('validate_last_bird', {'id': bird.id })}}" title="valider" class="download btn"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}

