{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFroHBrDo8zJfboSR3r5Z_YWnLv9HEaxw&libraries=geometry,visualization"></script>
    <style>
        #lat_lng{
            display: none;
        }
        #birds{
            width: 80%;
            margin: auto;
            height: 80%;
        }
        body{
            background: #2C3E50; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #2C3E50 , #4CA1AF); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #2C3E50 , #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    </style>
{% endblock %}
{% block body %}
<div id="fullpage" class="margin-top">
    <h1>Ajouter un oiseau</h1>
    {{ form_start(form) }}
        <div id="add_bird" >
            {{ form_row(form.latitude) }}
            {{ form_row(form.longitude) }}
        </div>
        {{ form_row(form.nom) }}
        {{ form_row(form.datevue) }}
        {{ form_row(form.image) }}
        <input type="submit"/>
    {{ form_end(form) }}



{% endblock %}
{% block javascripts %}
    {% if app.environment == 'dev' %}
        <script src="http://127.0.0.1:3000/static/addBird.js">
        </script>
    {% else %}
        <script src="{{ asset('dist/addBird.js') }} ></script>
    {% endif %}
{% endblock %}