{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div id="blocInscription" class="text-center">

    {{ form_widget(form.username, {'attr':{'class': 'champs', 'placeholder': 'Entrez votre nom et prénom'}}) }}

    {{ form_widget(form.email, {'attr':{'class': 'champs', 'placeholder': 'Entrez votre e-mail'}}) }}

    {{ form_widget(form.plainPassword.first, {'attr':{'class': 'champs', 'placeholder': 'Mot de passe'}}) }}

    {{ form_widget(form.plainPassword.second, {'attr':{'class': 'champs', 'placeholder': 'Confirmation Mot de passe'}}) }}

</div>
    <div>
        <input id="submit_register" class="champs btn btn-default" type="submit" value= "Je m'inscris" />
    </div>
{{ form_end(form) }}
