{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<div class="text-center">

    {{ form_widget(form.current_password, {'attr': {'class': 'champs', 'id': 'input-top', 'placeholder': 'Entrez votre email'}}) }}


    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'champs', 'placeholder': 'Mot de passe'}}) }}


    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'champs', 'id': 'input-bottom', 'placeholder': 'Confirmation'}}) }}

</div>

    <div>
        <input id="changePasswordSubmit" class="champs btn btn-default" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
