{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="text-center">

        {{ form_widget(form.current_password, {'attr': {'class': 'champs', 'id': 'input-top', 'placeholder': 'Mot de passe actuel'}}) }}
        {{ form_errors(form.current_password) }}

        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'champs', 'placeholder': 'Nouveau mot de passe'}}) }}
        {{ form_errors(form.plainPassword.first) }}

        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'champs', 'id': 'input-bottom', 'placeholder': 'Confirmation'}}) }}
        {{ form_errors(form.plainPassword.second) }}

    </div>
    <div>
        <input id="changePasswordSubmit" class="champs btn btn-default" type="submit" value="Changer mon mot de passe" />
    </div>
{{ form_end(form) }}