{% trans_default_domain 'FOSUserBundle' %}


<div class="formulaire-triangle"></div>
<h2 class="formulaire-header">{% block formTitle %}Changement de mot de passe{% endblock %}</h2>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password formulaire-container text-center' } }) }}
        <div class="form-group">
<<<<<<< HEAD
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password, {'attr': {'placeholder': 'Mot de passe actuel'}}) }}
            {{ form_errors(form.current_password) }}
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Nouveau mot de passe'}}) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirmation'}}) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>

    <div>
        <input class="btn btn-default" type="submit" value="Changer mon mot de passe" />
    </div>
{{ form_end(form) }}