{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<<<<<<< HEAD
    <div class="text-center">
        {{ form_widget(form.current_password, {'attr': {'class': 'champs', 'id': 'input-top', 'placeholder': 'Entrez votre email'}}) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'champs', 'placeholder': 'Mot de passe'}}) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'champs', 'id': 'input-bottom', 'placeholder': 'Confirmer le mot de passe'}}) }}
    </div>
=======
<div class="text-center">

    {{ form_widget(form.email, {'attr': {'class': 'champs', 'id': 'input-top', 'placeholder': 'Entrez votre email'}}) }}


    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'champs', 'placeholder': 'Mot de passe'}}) }}


    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'champs', 'id': 'input-bottom', 'placeholder': 'Confirmation'}}) }}

</div>

>>>>>>> 0650d9fcb4dedc3139811208204fb73a82c55764
    <div>
        <input id="changePasswordSubmit" class="champs btn btn-default" type="submit" value="Changer mon mot de passe" />
    </div>
{{ form_end(form) }}
