{% trans_default_domain 'FOSUserBundle' %}

<div class="formulaire-triangle"></div>
<h2 class="formulaire-header">{% block formTitle %}Nouveau groupe{% endblock %}</h2>

{{ form_start(form, { 'action': path('fos_user_group_new'), 'attr': { 'class': 'fos_user_group_new text-center' } }) }}
    <div class="form-group">
        <p>{{ form_label(form.name) }}</p>
        <p>{{ form_widget(form.name, {'attr':{'placeholder': 'Entrez le nom du groupe', 'class': 'text-center'}}) }}</p>
        <p>{{ form_errors(form.name) }}</p>
    </div>
    <div>
        <input type="submit" value="{{ 'group.new.submit'|trans }}" />
    </div>

{{ form_end(form) }}
