{% extends 'base.html.twig' %}

{% block title %}
    Observations - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFroHBrDo8zJfboSR3r5Z_YWnLv9HEaxw&libraries=geometry,visualization"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block body %}
    {% for nouvelle_observation in app.session.flashbag.get('nouvelle_observation') %}
        <div class="col-xs-12">
            <h3 class="formulaire-header">{{ nouvelle_observation }}</h3>
        </div>
    {% endfor %}
    <div id="row">
        <h2 class="formulaire-header">{% block formTitle %}Ajouter un oiseau{% endblock %}</h2>
        {{ form_start(form, {'attr': {'class': 'text-center formulaire-container'}}) }}
            <div id="add_bird" >
                {{ form_row(form.latitude) }}
                {{ form_row(form.longitude) }}
            </div>
        <div id="newBird" class="container">
            <h2 id="marker">Placez le marker a l'endroit exact de l'observation</h2>
                <div class="form-group">
                    {{ form_label(form.nom, "Nom de l'oiseau",  {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-12 col-lg-12'}}) }}
                    {{ form_errors(form.nom) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.datevue, "Date de la vue",  {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-12 col-lg-12'}}) }}
                    <p>{{ form_errors(form.datevue) }}</p>
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                        <div class="input-group input-append date" data-provide="datepicker" id="datePicker">
                            {{ form_widget(form.datevue, {'attr': {'class': 'text-center form-control', 'name': 'date'}}) }}
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div></div>
                {{ form_label(form.image, "Image au format .jpg ou .png (facultative)", {'label_attr': { 'class': 'col-xs-12 col-sm-12 col-md-12 col-lg-12'}}) }}
                {{ form_widget(form.image, {'attr': {'class': 'col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4'}}) }}
                {{ form_errors(form.image) }}
            <div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-14 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                    <input class="btn col-xs-12" id="envoyer" type="submit" value="Envoyer">
                </div>
            </div>
        {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}

    {% if app.environment == 'dev' %}
    <script src="http://127.0.0.1:3000/static/addBird.js">
    </script>
    {% else %}
    <script src="{{ asset('dist/addBird.js') }} ></script>
    {% endif %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        jQuery(document).ready(function() {
        $.fn.datepicker.dates['fr'] = {
            months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            monthsShort: ['Jan', 'Fév', 'Mar', 'Avr', 'Avr', 'Mai', 'Jun', 'Jul', 'Aoû', 'Sep', 'Oct', 'Nov', 'Déc'],
            days: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            daysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            daysMin: ['Di', 'Lu', 'Mar', 'Me', 'Je', 'Ve', 'Sa'],
        };
        $('#datePicker')
        .datepicker({
        language: 'fr',
        weekStart: 1,
        autoclose: true,
        format: 'dd/mm/yyyy',
        endDate: 'NOW',
        todayHighlight: true
        });
        });
    </script>
{% endblock %}