{% extends 'base.html.twig' %}

{% block title %}Contribution - {{ parent() }}{% endblock %}

{% block body %}
    <div class=" container-fluid panel panel-default target">
        <div class="row">
        {% for deletion in app.session.flashbag.get('deletion') %}
            <div class="bg-danger observation col-xs-12 text-center">
                <h3 class="formulaire-header">{{ deletion }}</h3>
            </div>
        {% endfor %}
        {% for validation in app.session.flashbag.get('validation') %}
            <div class="bg-success observation col-xs-12 text-center">
                <h3 class="formulaire-header">{{ validation }}</h3>
            </div>
        {% endfor %}
        <div class="panel-body">
            <div class="row panel-group">
                {% for bird in birds %}
                    <div class="observation col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{{ asset('../uploads/images/') ~ '/' ~ bird.image }}">
                        </div>
                        <div id="bodyHeight" class="text-center">
                            <div id="member" >Observateur: {{ bird.member }}</div>
                            <div id="nomVern" >Nom de l'oiseau : {{ bird.nom.nomVern }}</div>
                        </div>
                        <div class="panel-footer">
                            <div class="date col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <p id="dateObs">vue le : {{ bird.dateVue|date("d-m-Y") }}</p>
                            </div>
                            <div id="delete" class="text-center col-xs-6">
                                <a href="{{ path('delete_last_bird', {'id': bird.id })}}" class="btn" ><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div id="download" class="text-center col-xs-6">
                                <a href="{{ path('validate_last_bird', {'id': bird.id })}}" class="btn"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

